<% layout('tailwind/layout/userBoilerplate') %>

<h1 class="text-white text-3xl text-center h-full items-center font-light mb-6">Edit Product</h1>

<form
	action="/users/<%= user._id %>/<%= product._id %>"
	method="POST"
	class="flex items-center flex-col text-white"
>
	<div class="flex flex-col w-2/3 mb-3">
		<a href="/users/<%= user._id %>/products" class="text-blue-500 text-lg flex items-center">
			<svg
				class="w-4 h-4 text-blue-500 inline mr-1"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 8 14"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"
				/>
			</svg>
			Back to Products
		</a>
	</div>
	<div class="flex flex-col w-2/3 mb-3">
		<label for="name" class="text-light">Product Name</label>
		<input
			type="text"
			id="name"
			name="name"
			class="rounded-lg text-black"
			value="<%= product.name %>"
			required
		/>
	</div>
	<div class="flex flex-col w-2/3 mb-3">
		<label for="category" class="text-light">Product Category</label>
		<input
			type="text"
			id="category"
			name="category"
			class="rounded-lg text-black"
			value="<%= product.category %>"
			required
		/>
	</div>
	<div class="flex flex-col w-2/3 mb-3">
		<label for="description" class="text-light">Description</label>
		<textarea
			name="description"
			id="description"
			rows="3"
			class="px-2 rounded-lg text-black"
			required
		>
<%= product.description %>
        </textarea
		>
	</div>
	<h3 class="text-2xl font-light">Alternates</h3>
	<div class="flex flex-col w-2/3 mb-3" id="inputContainer">
		<% for( let i = 0; i < product.stock.length; i++ ) { %>
		<div class="flex flex-row mb-3" id="input<%=i%>">
			<div class="w-1/3 flex flex-col pr-2">
				<label for="alternate<%i%>" class="text-light">Alternate</label>
				<input
					type="text"
					id="alternate<%i%>"
					name="stock[<%=i%>][alternate]"
					class="rounded-lg text-black"
					value="<%= product.stock[i].alternate %>"
					required
				/>
			</div>
			<div class="w-1/3 flex flex-col px-2">
				<label for="quantity<%i%>" class="text-light">Quantity</label>
				<input
					type="number"
					id="quantity<%i%>"
					name="stock[<%=i%>][quantity]"
					class="rounded-lg text-black"
					value="<%= product.stock[i].quantity %>"
					required
				/>
			</div>
			<div class="w-1/3 flex flex-row pl-2">
				<div class="flex flex-col w-5/6">
					<label for="price<%i%>" class="text-light">Price</label>
					<input
						type="number"
						id="price<%i%>"
						name="stock[<%=i%>][price]"
						class="rounded-lg text-black"
						value="<%= product.stock[i].price %>"
						required
					/>
				</div>
				<span class="flex flex-row ml-2 mb-1 items-end">
					<button
						type="button"
						class="rounded-lg p-1 px-2 border border-white"
						onClick="removeInput('<%=i%>')"
					>
						X
					</button>
				</span>
			</div>
		</div>
		<% } %>
	</div>
	<div class="w-2/3 flex flex-row justify-end mb-3">
		<button onclick="createInput()" class="mt-4 rounded-lg p-3 bg-blue-600" type="button">
			Add Alternate
		</button>
	</div>
	<div class="w-2/3 flex flex-row justify-end">
		<button class="text-white bg-green-500 rounded-lg p-3">Save Changes</button>
	</div>
</form>

<script>
	let stockCount = '<%=product.stock.length%>' - 1;
	function createInput() {
		stockCount++;
		let textInput = document.createElement('div');
		textInput.innerHTML = `<div class="w-1/3 flex flex-col pr-2">
                <label for="alternate${stockCount}" class="text-light">Alternate</label>
                <input
                    type="text"
                    id="alternate${stockCount}"
                    name="stock[${stockCount}][alternate]"
                    class="rounded-lg text-black"
                    required
                />
            </div>
            <div class="w-1/3 flex flex-col px-2">
                <label for="quantity${stockCount}" class="text-light">Quantity</label>
                <input
                    type="number"
                    id="quantity${stockCount}"
                    name="stock[${stockCount}][quantity]"
                    class="rounded-lg text-black"
                    required
                />
            </div>
            <div class="w-1/3 flex flex-row pl-2">
                <div class="flex flex-col w-5/6">
                    <label for="price${stockCount}" class="text-light">Price</label>
                <input
                    type="number"
                    id="price${stockCount}"
                    name="stock[${stockCount}][price]"
                    class="rounded-lg text-black"
                    required
                />
                </div>
                <span class="flex flex-row ml-2 mb-1 items-end">
                    <button
                        type="button"
                        class="rounded-lg p-1 px-2 border border-white"
                        onClick="removeInput('${stockCount}')"
                    >X</button>
                </span>
            </div>
            `;
		textInput.id = `input${stockCount}`;
		textInput.classList.add('flex', 'flex-row', 'mb-3');
		document.getElementById('inputContainer').appendChild(textInput);
	}
</script>
<script>
	function removeInput(id) {
		const element = document.getElementById(`input${id}`);
		element.remove();
	}
</script>
