<% layout('tailwind/layout/userBoilerplate') %>

<h1 class="text-4xl font-thin bg-gray-800 text-white text-center">Order Overview</h1>

<div class="flex text-white w-full">
	<div class="w-1/2">
		<p class="text-3xl text-center">Cart Content</p>
		<div class="px-3" id="productList">
			<% for( let i = 0; i < cart.length; i++ ) { %>
			<div class="border border-white rounded-lg text-white flex mb-1">
				<div class="w-full pl-5 py-5 flex">
					<div class="w-2/3">
						<p class="text-lg text-slate-400">Name</p>
						<p class="text-2xl"><%= JSON.parse(JSON.stringify(cart[i].product.name)) %></p>
						<p class="text-lg text-slate-400">Alternate</p>
						<p class="text-2xl"><%= JSON.parse(JSON.stringify(cart[i].alternate.alternate)) %></p>
					</div>

					<div class="w-1/3">
						<p class="text-lg text-slate-400">Price</p>
						<p class="text-2xl">$<%= JSON.parse(JSON.stringify(cart[i].alternate.price)) %></p>

						<p class="text-lg text-slate-400">Quantity</p>
						<div class="flex">
							<p class="text-2xl"><%= cart[i].quantity %></p>
						</div>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<div class="w-1/2">
		<p class="text-3xl text-center">Total</p>
		<div class="flex">
			<div class="w-1/2">
				<p class="text-xl">Subtotal:</p>
				<% if (shippingMethod) { %>
				<p class="text-xl">Shipping:</p>
				<% } %>
				<p class="text-xl">Tax:</p>
			</div>
			<div class="w-1/2">
				<p class="text-xl">$<%= cartDetails.total %></p>
				<% if (shippingMethod) { %>
				<p class="text-xl">$<%= JSON.parse(shippingMethod).shippingAmount.amount %></p>
				<% } %>
				<p class="text-xl">$0</p>
			</div>
		</div>
		<p class="text-lg w-2/3 text-slate-400">
			*This is only notifying you the amount of tax to collect from the customer, LMDM is not
			collecting taxes from customer
		</p>
		<hr />
		<div class="flex">
			<div class="w-1/2">
				<p class="text-xl">Total:</p>
				<form action="/users/<%=user._id%>/orders/createOrder" method="POST">
					<button
						class="rounded-lg p-2 bg-blue-500 broder-blue-500 hover:bg-blue-600 hover:border-blue-600"
					>
						Complete Order
					</button>
					<p class="text-slate-400">
						*Note shipping cost will be billled to your account at the end of your billing cycle
					</p>
				</form>
			</div>
			<div class="w-1/2">
				<% if (shippingMethod) { %>
				<p class="text-xl">
					$<%= cartDetails.total + JSON.parse(shippingMethod).shippingAmount.amount %>
				</p>
				<% } else { %>
				<p class="text-xl">$<%= cartDetails.total %></p>
				<%}%>
			</div>
		</div>
	</div>
</div>
