<% layout('layout/boilerplate') %>
<h1 class="text-center">Dashboard for <%=user.username%></h1>
<div class="row ps-2">
	<div class="col-6 rounded px-3" style="max-height: 75vh; overflow-y: scroll">
		<% for(let product of products) {%>
		<div class="card shadow border-light mb-3 text-dark">
			<div class="card-header"><b><%=product.category%></b></div>
			<div class="row no-gutters">
				<div class="card-body col-7 ps-5">
					<h5 class="card-title"><%=product.name%> - $<%=product.price%></h5>
					<p class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</p>
					<% let total = 0; for(let size of product.stock){ total += size.quantity; } %>
					<h6 class="card-text"><%=total%></h6>
					<a href="/admin/products/<%=product._id%>" class="btn btn-primary">View</a>
					<a href="/admin/products/<%=product._id%>/edit" class="btn btn-primary">Edit</a>
				</div>
				<div class="col-5 text-end">
					<img src="/images.jpeg" alt="" class="rounded-end" />
				</div>
			</div>
		</div>
		<!-- <div class="card" style="width: 500px">
			<div class="row no-gutters">
				<div class="col-sm-5">
					<img class="card-img" src="/images.jpeg" alt="Suresh Dasari Card" />
				</div>
				<div class="col-sm-7">
					<div class="card-body">
						<h5 class="card-title">Suresh Dasari</h5>
						<p class="card-text">
							Suresh Dasari is a founder and technical lead developer in tutlane.
						</p>
						<a href="#" class="btn btn-primary">View Profile</a>
					</div>
				</div>
			</div>
		</div> -->
		<% } %>
	</div>
	<div class="col-6">
		<a href="/admin/products/new"><button class="btn btn-success">Create Product</button></a>
	</div>
</div>
