<%- layout('layout/userBoilerplate') %>
<div class="row justify-content-center align-items-center mt-5 py-5">
	<div class="col-5"><img src="/images/images.jpeg" alt="" class="img-fluid w-75 rounded" /></div>
	<div class="col-5">
		<h5 class="text-muted">Product Name</h5>
		<h2><%=product.name%></h2>
		<h5 class="text-muted">Category</h5>
		<h2><%=product.category%></h2>
		<h5 class="text-muted">Starting Price</h5>
		<h2>$<%=product.startingPrice%></h2>
		<div class="rounded shadow p-2">
			<h5 class="text-muted">ALTERNATES</h5>
			<div class="row">
				<div class="col"><h5 class="text-muted">Size:</h5></div>
				<div class="col"><h5 class="text-muted">Price:</h5></div>
				<div class="col"><h5 class="text-muted">Quantity:</h5></div>
				<% if (cart) { %>
				<div class="col"><h5 class="text-muted">Order Qty:</h5></div>
				<% } %>
			</div>
			<% for( let stock of product.stock ) { %>
			<div class="row">
				<div class="col"><h2><%=stock.alternate%></h2></div>
				<div class="col"><h2>$<%=stock.price%></h2></div>
				<div class="col"><h2><%=stock.quantity%></h2></div>
				<% if (cart) { %>
				<div class="col">
					<form
						action="/users/<%=user._id%>/<%=product._id%>/<%=stock._id%>/addToOrder"
						method="POST"
					>
						<div class="row">
							<div class="col p-0">
								<input
									class="form-control rounded-start"
									type="number"
									name="quantity"
									min="1"
									max="<%=stock.quantity%>"
									value="1"
									style="border-radius: 0px"
								/>
							</div>
							<div class="col p-0">
								<button class="btn btn-primary rounded-end" style="border-radius: 0px">Add</button>
							</div>
						</div>
					</form>
				</div>
				<% } %>
			</div>
			<% } %> <% if (!cart) { %>
			<form action="/users/<%=currentUser._id%>/<%=product._id%>?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete</button>
				<a href="/users/<%= currentUser._id %>/<%=product._id%>/edit"
					><button class="btn btn-primary text-decoration-none text-white" type="button">
						Edit
					</button></a
				>
			</form>
			<% }%>
		</div>
	</div>
</div>
